<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ .Page.Title }} by {{ site.Params.author }}</title>

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet" />
    <script src="{{ .Site.BaseURL }}js/bootstrap.bundle.min.js"></script>

    {{ $style := resources.Get "sass/main.scss" | css.Sass | resources.Minify |
    resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <script src="{{ .Site.BaseURL }}js/jquery-3.5.1.min.js"></script>

    <meta content="{{ .Page.Title }}" itemprop="name" />
    <meta content="{{ .Page.Description }}" itemprop="description" />
    <meta content="{{ .Page.Title }}" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="{{ .Site.BaseURL }}" property="og:url" />
    <meta content="{{ .Page.Title }}" property="og:site_name" />
    <meta content="summary" name="twitter:card" />
    <meta content="{{ .Page.Title }}" name="twitter:title" />
    <meta content="{{ .Page.Description }}" name="twitter:description" />
    <meta content="{{ .Site.BaseURL }}" name="twitter:url" />

    <script
        src="https://beamanalytics.b-cdn.net/beam.min.js"
        data-token="ae2c9104-5f5b-41bf-95c6-e79cdf10801d"
        async></script>

    {{ partial "header/box-colors.html" . }}
</head>
